.vscode

#############################

## IntelliJ

##############################

out/

.idea/

.idea_modules/

*.iml

*.ipr

*.iws

git rm --cached -r GMS_JEDI_Flipkart_Java_Project/.metadata
git rm --cached GMS_JEDI_Flipkart_Java_Project/.classpath
git rm --cached -r .metadata
